@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2fffd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 320px; 
    gap: 20px;
    background-color: #fff; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

#input {
    font-size: 2rem; 
    padding: 12px;
    background-color: #fff;
    border: 2px solid #f0e6d6;
    border-radius: 10px;
    margin-bottom: 20px; 
    text-align: right; 
    color: #333;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px; 
    font-size: 1.6rem;
    color: white;
    background-color: #f9d8d1; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f1b8b0;
}

button:active {
    background-color: #ed9d8a;
}

button:focus {
    outline: none;
}

button[data-value="CLEAR"] {
    background-color: #f4a261;
}

button[data-value="CLEAR"]:hover {
    background-color: #e58543;
}

button[data-value="DEL"] {
    background-color: #ff8c8c;
}

button[data-value="DEL"]:hover {
    background-color: #eb6b6b;
}

button.equals {
    grid-column: span 4; 
    background-color: #63dacc;
}

button.equals:hover {
    background-color: #43a192;
}

.rightSide {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

h4 {
    margin-bottom: 15px;
    color: #f9d8d1;
}

.historyContainer {
    overflow-y: auto; 
    max-height: 300px; 
}

.historyItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.historyItem button {
    background-color: #ff7070;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.historyItem button:hover {
    background-color: #e34d4d;
}

.clearHistoryBtn {
    background-color: #f4a261;
    padding: 10px;
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.clearHistoryBtn:hover {
    background-color: #e58543;
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .rightSide {
        display: none; 
    }
}
